@import-normalize;
:root {
  --primary: #ff7878;
  --primary-light: hsla(0, 100%, 74%, 0.753);
  --text-color: #8a817c;
  --box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--text-color);
  font-size: 16px;
}

input {
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 0.5rem;
}

button {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  transition: background-color 0.1s;
  box-shadow: var(--box-shadow);
}

button:hover {
  background-color: var(--primary-light);
}
